html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide overflow to prevent scrolling */
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use the full viewport height */
    position: relative; /* Position relative for overlay */
    background-image: url('background.gif');
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
}

#background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove border */
}
